

:root{
  --maskBgColor: rgba(0, 0, 0, 0.4);
  --bgColor: #fff;
  --fontColor: #000;
  --borderColor: #c3c3cc;
}

/* 弹性布局 */
.cb-flex{
  display: flex;
}

.cb-flex-column{
  display: flex;
  flex-direction: column;
}

/* 水平居中 */
.cb-justify-center{
  justify-content: center;
}


/* 垂直居中 */
.cb-align-items{
  align-items: center;
}

.cb-space-between{
  justify-content: space-between;
}

.cb-space-around{
  justify-content: space-around;
}

/* 组合样式   */
.cb-sb-center {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.cb-sa-center {
  display:flex;
  align-items: center;
  justify-content: space-around;
}
 
/* 水平垂直居中 */
.cb-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cb-flex-wrap{
  flex-wrap: wrap;
}


/* 禁止选中文本 */
.cb-no-user{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

/* 鼠标样式 */
.cb-curp{
  cursor: pointer;
}
.cb-curh{
  cursor: help;
}
.cb-curm{
  cursor: move;
}
.cb-curprogress{
  cursor: progress;
}
.cb-curw{
  cursor: wait;
}

/* 边框 */
.cb-bordersolid{
  border: 1px solid var(--borderColor);
}

/*点线*/
.cb-borderdotted{
  border: 1px dotted var(--borderColor);
}

.cb-borderdouble{
  border: 1px double var(--borderColor);
}

/*虚线*/
.cb-borderdashed{
  border: 1px dashed var(--borderColor);
}

.cb-border-none{
  border: none;
}

.cb-bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

/* 换行 */
.cb-warp{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.cb-multi-row-wrap{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cb-text-right{
  text-align: right;
}

/* 文字居中 */
.cb-text-center{
  text-align: center;
}

.cb-p-indent{
  text-indent: 2em;
}

.cb-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--maskBgColor);
}

.cb-tabbar{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 49px;
}

.cb-nav{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
}

.cb-bottom-border{
  border-bottom: 1px solid #c3c3c3;
}

.cb-border-radius{
  border-radius: 50%;
}

.cb-image-radius{
  border-radius: 50%;
  overflow: hidden;
}

.cb-bg-color{
  background: var(--bgColor);
}

.cb-font-color{
  color: var(--fontColor)
}






